{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">  
{% comment %} <img src="{% static 'images/Snipp_logo.png' %}"/> {% endcomment %}
  {% comment %} <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/Snipp_logo.png' %}" alt="" width="200" height=100">
    </a>
    <a class="navbar-brand"> Welcome </a>
  </nav> {% endcomment %}          
  <nav class="navbar fixed-top navbar-light bg-light">
  <h1 class="navbar-brand">Snipp</h1>
  </nav>       
  <p> Snipp is for saving time and finding deals on items you need
        from retailers near you. 
        </p>           
 <form class = 'form-inline' enctype="multipart/form-data" action = "process", method = "POST">
                 {% csrf_token %} 
                   {{ pagesform }}
        <input type = "submit", value = "Search">
  </form>
{% comment %} <h2>{{ note }}</h2> {% endcomment %}
{% comment %} save this part {% endcomment %}
{% comment %} <form enctype="multipart/form-data" action = "process", method = "POST">
    {% csrf_token %}
    {{ pagesform }}
  <input type = "submit", value = "Search">
</form> {% endcomment %}


<img src="https://www.freepnglogos.com/uploads/vegetables-png/buy-high-quality-organic-vegetables-and-fruits-online-7.png" class="center">

 <p> Real time update from weekly-ads on 
        <a href="https://flipp.com/home">Flipp website</a>
        .</p> 