{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% comment %} <img src="{% static 'images/Snipp_logo.png' %}"/> {% endcomment %}
  {% comment %} <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/Snipp_logo.png' %}" alt="" width="200" height=100">
    </a>
    <a class="navbar-brand"> Welcome </a>
  </nav> {% endcomment %}

<!-- Image and text -->
<nav class="navbar navbar-dark bg-primary justify-content-between", style="background-color: #e3f2fd;">
  <a class="navbar-brand">
      <img src="{% static 'images/Snipp_logo.png' %}" width="120" height="100" class="d-inline-block align-top" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-form">
      <form class = "form-inline" enctype="multipart/form-data" action = "process", method = "POST">
           {% csrf_token %}
         {{ pagesform }}
         
         <input type = "submit", value = "Search">
      </form>
    </a>
     </div>
  </div>
</nav>

<h2>{{ note }}</h2>

<form enctype="multipart/form-data" action = "process", method = "POST">
    {% csrf_token %}
    {{ pagesform }}
  <input type = "submit", value = "Search">
</form>




<img src="https://www.freepnglogos.com/uploads/vegetables-png/buy-high-quality-organic-vegetables-and-fruits-online-7.png">